* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    background-color: #0B0C10;
    color: #66FCF1;
}

body {
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1F2833;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #1F2833;
}

header .logo {
    font-size: 20px;
    font-weight: bold;
    color: #66FCF1;
    background-color: #1F2833;
    transition: .5s;
}

header .logo:hover {
    transform: scale(1.2);
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    padding: 15px;
    color: #66FCF1;
    font-size: 16px;
    background-color: #1F2833;
    display: block;
}

header nav ul li a:hover {
    background-color: #66FCF1;
    color: #1F2833;
}

nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background-color: #1F2833;
    display: none;
}

nav ul li ul li {
    width: 100%;
    border: 1px solid #45A29E;
}

nav ul li ul li ul {
    left: 180px;
    top: 0;
}

nav ul li:hover > ul {
    display: initial;
}

/* КНОПКА */
.buttons {
    display: inline-block;
    padding: 10px 15px;
    color: #5D5C61;
    background-color: #557A95;
    border: 1px solid #436075;
    border-radius: 5px;
    user-select: none;
    line-height: 1.5;
    font-size: 1rem;
}
.buttons:hover {
    opacity: .8;
    cursor: pointer;
    text-decoration: none;
}
.buttons:focus {
    opacity: .8;
    outline: none;
}


/* ПО МЕЛОЧИ */
.razdelitel {
    margin: 20px;
    border: none;
    height: 3px;
    background-color: #1F2833;
    color: #1F2833;
}

.otstup {
    margin-top: 80px;
    margin-bottom: 15px;
}

.center {
    text-align: center;
}